name: Deploy Azure Data Factory

on:
  workflow_dispatch: # Manual trigger — you can run it from Actions tab
  push:
    branches:
      - adf_publish

jobs:
  deploy-adf:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
          ref: adf_publish  # Checkout the publish branch to access ARM templates

    - name: List files for debugging
      run: ls -R
        
    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

    - name: Deploy ARM Template
      uses: azure/arm-deploy@v2
      with:
        resourceGroupName: ${{ secrets.RESOURCE_GROUP }}
        template: adf-retail-project-1/ARMTemplateForFactory.json
        parameters: adf-retail-project-1/ARMTemplateParametersForFactory.json
        deploymentMode: Incremental
    - name: Done
      run: echo "✅ ADF deployment completed successfully!"
