name: Deploy Synapse Artifacts

on:
  push:
    branches:
      - workspace_publish

jobs:
  deploy-synapse:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Azure Login (OIDC)
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Deploy Synapse Workspace ARM Templates
      uses: Azure/synapse-workspace-deployment@v1
      with:
        TargetWorkspaceName: synapse-retail-project
        TemplateFile: synapse-retail-project/TemplateForWorkspace.json
        ParametersFile: synapse-retail-project/TemplateParametersForWorkspace.json
